.projects-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 40px;
}

.projects-title {
	width: 100% !important;
	margin-top: 0 !important;
	margin-bottom: 40px;
}

@media (max-width: 600px) {
	.projects-container {
		padding-top: 25px;
	}
}